* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
      max-width: 800px;
      margin: 0 auto;
  
  }
  
  header {
      height: 100px;
      background: rgb(222, 221, 221);
      border-bottom: 2px solid rgb(216, 89, 16);
      display: flex;
      align-items: center;
      padding-left: 10px;
    }
    
  main{
      display:flex;
  }
  
  figure {
      position: relative;
      overflow: hidden;
      padding-left: 10px;
      padding-top: 10px;
    }
  
    figure figcaption {
      position: absolute;
      bottom: 4px;
      height: 60px;
      line-height: 60px;
      width: 100%;
      background: rgba(3, 75, 143, 0.5);
    }
  
    figure figcaption p {
      padding-left: 10px; 
      padding-right: 10px;
      color: #fff;
    }
  
  aside section {
      padding: 10px;
  }
  
  details summary {
      background: rgba(109, 108, 108, 0.63);
      padding: 5px;
      margin:0 0 10px 0;
  }

  footer {
    background: #000;
  }
  
  footer p {
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 10px;
  }